<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= if @access do %>
      <% %URI{host: host} = URI.parse(Routes.static_url(@conn, "/")) %>
      <meta
        name="apple-itunes-app"
        content={
          "app-id=io.athena-logistics.athena-rn, app-argument=/init/#{host}/#{@access}/#{@navigation.event.id}"
        }
      />
    <% else %>
      <meta name="apple-itunes-app" content="app-id=io.athena-logistics.athena-rn" />
    <% end %>
    <title><%= @navigation.event.name %></title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/8775096c60.js" crossorigin="anonymous">
    </script>
    <%= csrf_meta_tag() %>
    <script async type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </head>
  <body class={
    case @access do
      :logistics -> "has_nav"
      :vendor -> ""
    end
  }>
    <%= case @access do %>
      <% :logistics -> %>
        <AthenaWeb.Frontend.Navigation.navigation {@navigation} conn={@conn} />
      <% :vendor -> %>
    <% end %>

    <%= @inner_content %>
  </body>
</html>
