<h1>Show Item group</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @item_group.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.item_group_path(@conn, :edit, @item_group) %></span>
<span><%= link "Back", to: Routes.item_group_path(@conn, :index, @item_group.event_id) %></span>
<span><%= link "Items", to: Routes.item_path(@conn, :index, @item_group.id) %></span>
