*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: $color-secondary;
  padding: 4rem;
}

.break-out {
  margin-left: -4rem;
  margin-right: -4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  box-sizing: content-box;
}

::selection {
  color: $color-secondary;
  background-color: $color-primary;
}
