button {
  border: 1px solid $color-primary;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  color: $color-primary;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;

  transition: all 0.1s linear;

  &:not([hidden]) {
    display: flex;
  }

  &:hover {
    // box-shadow: 0 2px 6px rgba($color-primary, 0.5);
  }

  &:active {
    outline: none;
    background-color: $color-primary !important;
    color: $color-secondary;
    transform: translate(1px, 1px);
  }

  &:focus {
    outline: none;
  }

  &.button-icon--small {
    padding: 0.5rem;
    svg,
    i {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
    }
  }

  &.button-icon {
    padding: 1rem;
    svg,
    i {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
    }

    @include tablet-down {
      padding: 1rem;
      svg,
      i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
      }
    }
  }

  &.inverted {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-secondary;
  }
}
