.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around {
  margin: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-width: 35%;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  min-width: 35%;
}

.justify-self-end {
  justify-self: end;
}
