a {
  text-decoration: none;

  &.bookmark {
    text-align: center;
    font-family: inherit;
    border: 1px solid currentColor;
    border-radius: $base-border-radius;
    background-color: $body-bg;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    position: relative;

    &:hover {
      color: $body-bg;
      background-color: $primary;
    }

    &:after {
      content: '↓';
      position: relative;
      top: -1px;
      margin-left: 4px;
    }
  }
}
