form {
  input[type='text'].elevated,
  input[type='number'].elevated {
    font-size: 1.25rem;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }

      &:focus {
        outline: none;
      }
  }

  input[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
