h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
  line-height: 1;
}

h2 {
  text-transform: capitalize;
  width: fit-content;
  padding: 3px 50px;
  margin-bottom: 1rem;
  border-radius: $base-border-radius;
  background-color: darken($body-bg, 0.2);
  border: 2px solid $primary-dark;

  a {
    text-decoration: none;
  }
}
