$primary: #efbb35;
$primary-dark: #87640a;
$secondary: #32ad9a;

$body-bg: #222831;
$body-color: $primary;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.25;

$font-family-sans-serif: 'Open sans', sans-serif;

$btn-border-radius: 1.5rem;
$btn-border-radius-sm: 1.5rem;
$btn-border-radius-lg: 1.5rem;

$nav-tabs-link-active-color: $secondary;
