$primary: #efbb35;
$primary-dark: #87640a;
$primary-darkest: #463e28;
$primary-light: #f6dc9a;
$primary-lightest: #fbedcc;
$secondary: #32ad9a;

$body-bg: #222831;
$body-color: $primary;

$base-border-radius: 8px;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.3;

$font-family-sans-serif: 'Open sans', sans-serif;

$btn-border-radius: 1.5rem;
$btn-border-radius-sm: 1.5rem;
$btn-border-radius-lg: 1.5rem;
$btn-padding-x-lg: 0.8rem;

$nav-tabs-link-active-color: $secondary;
$nav-tabs-border-color: $primary-dark;
$nav-tabs-link-active-border-color: $primary-dark $primary-dark $body-bg;
$nav-tabs-link-hover-border-color: $primary $primary $body-bg;
$nav-tabs-border-radius: $base-border-radius;
$nav-tabs-border-width: 2px;
