<h1>New Movement</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.movement_path(@conn, :create, @item.id)) %>

<span><%= link "Back", to: Routes.movement_path(@conn, :index, @item.id) %></span>
