<h1><%= gettext("edit %{item_group}", item_group: @item_group.name) %></h1>

<.item_group_form {assigns} action={~p"/admin/item_groups/#{@item_group}"} />

<h2><%= gettext("actions") %></h2>

<ul>
  <li>
    <.link navigate={~p"/admin/events/#{@item_group.event_id}/item_groups"}>
      <%= gettext("back") %>
    </.link>
  </li>
</ul>
