<.pagetitle backlink={~p"/admin/events/#{@event.id}/item_groups"}>
  <%= gettext("create item group") %>
</.pagetitle>

<.item_group_form {assigns} action={~p"/admin/events/#{@event.id}/item_groups"} />
