<h1><%= gettext("create event") %></h1>

<%= render("form.html", Map.put(assigns, :action, Routes.admin_event_path(@conn, :create))) %>

<h2><%= gettext("actions") %></h2>

<ul>
  <li>
    <.link navigate={Routes.admin_event_path(@conn, :index)}>
      <%= gettext("back") %>
    </.link>
  </li>
</ul>
