<h1>New Item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_item_path(@conn, :create, @item_group.id)) %>

<span><%= link "Back", to: Routes.admin_item_path(@conn, :index, @item_group.id) %></span>
