<h1><%= gettext("create movement") %></h1>

<%= render(
  "form.html",
  Map.put(assigns, :action, Routes.admin_movement_path(@conn, :create, @item.id))
) %>

<h2><%= gettext("actions") %></h2>

<ul>
  <li>
    <.link navigate={Routes.admin_movement_path(@conn, :index, @item.id)}>
      <%= gettext("back") %>
    </.link>
  </li>
</ul>
