<%= @stock %>
<button phx-click="advance_consumption">
    <%= if @item.inverse, do: "+", else: "-" %>
</button>

<button phx-click="toggle_show_correction">...</button>

<%= if @show_correction do %>
    <form phx-submit="advance_consumption">
        <input type="number" name="new_total" value="<%= @stock %>" />
    </form>
<% end %>