.location {
  &__grid {
    display: grid;
    grid-gap: 4rem;
    grid-template: repeat(3, min-content) / repeat(auto-fit, minmax(400px, 1fr));
  }

  .elevated-wrapper {
    width: inherit;
  }

  &__group-title {
    width: inherit;
    padding: 3px 0;
  }

  i {
    margin-right: 5px;
    &.text-important {
      color: $danger;
    }
    &.text-warning {
      color: $warning;
    }
    &.text-normal {
      color: $success;
    }
  }
}
