.movement {
  .item {
    margin-top: 30px;
    margin-bottom: 30px;
    
    .preview {
      > *:not(:last-child) {
        margin-right: 10px;
      }
      .out {
        text-align: right;
      }
      .arrow {
        width: 200px;
        path {
          fill: $color-primary;
        }
      }
      .in {
        text-align: left;
      }
    }
  }
}