.overview-table {
  margin-top: 2rem;
  border-spacing: 1px;
  border-collapse: collapse;
  min-width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  tr {
    &:nth-child(2n) {
      background-color: rgba($secondary, 0.1);
    }

    td,
    th {
      vertical-align: middle;
      padding: 0.5em;

      &:nth-child(2n) {
        background-color: rgba($secondary, 0.1);
      }

      &.important {
        background-color: $red;
        color: $danger;
        a,
        a:visited {
          color: $white;
        }

        td {
          border-color: $secondary;
        }
      }
      &.warning {
        background-color: $warning;
        color: $black;
        a {
          color: $black;
        }
        td {
          border-color: $secondary;
        }
      }
    }

    td {
      text-align: center;

      &.item-group-spacer {
        font-weight: bold;

        .landscape & {
          border-left: 1px solid $secondary;
        }

        .portrait & {
          border-top: 1px solid $secondary;
        }
      }
    }
    th {
      text-align: left;
      font-weight: normal;
      top: 0;
      left: 0;

      &:first-child {
        min-width: 180px;
      }

      &.item-group {
        font-weight: bold;

        .landscape & {
          border-left: 1px solid $secondary;
        }

        .portrait & {
          border-top: 1px solid $secondary;
        }
      }
    }
  }

  thead {
    tr {
      th {
        text-align: left;
        min-width: 2em;
        vertical-align: bottom;
        > * {
          writing-mode: vertical-rl;
          // transform: rotate(-180deg);
          min-width: 2em;
          white-space: nowrap;
          text-align: left;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $secondary;
      }
    }
  }
}
