<%= form_for @changeset, @action, fn f -> %>
  <div :if={@changeset.action} class="alert alert-danger">
    <p>
      <%= gettext("Oops, something went wrong! Please check the errors below.") %>
    </p>
  </div>

  <%= label(f, :name, gettext("name")) %>
  <%= text_input(f, :name) %>
  <%= error_tag(f, :name) %>

  <div>
    <%= "save" |> gettext |> submit %>
  </div>
<% end %>
