button {
  border: 1px solid $color-primary;
  border-radius: 50px;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  color: $color-primary;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  &:not([hidden]) {
    display: flex;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba($color-primary, 0.5);
  }

  &:active {
    outline: none;
    background-color: $color-primary !important;
    color: $color-secondary;
    transform: translate(1px, 1px);
  }

  &:focus {
    outline: none;
  }

  &.button--small {
    padding: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
