form {
  input {
    font-family: inherit;
    background-color: inherit;
    color: currentColor;
    border: 1px dotted currentColor;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    padding: 0.5rem;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  label {
    margin-right: 1rem;
  }
}
