body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-primary;
}

h1 {
  font-size: 5.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1;
  margin-bottom: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  width: fit-content;
  padding: 0px 50px;
  margin-bottom: 1rem;
  border-radius: 50px;
  background-color: $color-secondary-dark;
}

a {
  color: $color-primary;
  text-underline-position: under;
  padding: 0 0.1rem;

  // &:visited {
  //   color: $color-primary-dark;
  // }
}

.p-important {
  color: $color-primary-light;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  padding: 0.5rem;
}
