// COLORS
$color-primary: #efbb35;
$color-primary-light: #f8e359;
$color-primary-dark: #b88810;

$color-secondary: #222831;
$color-secondary-light: #181c22;
$color-secondary-dark: #1a1d24;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
