<h1>Edit Movement</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_movement_path(@conn, :update, @movement)) %>

<span><%= link "Back", to: Routes.admin_movement_path(@conn, :index, @movement.item_id) %></span>
