<h1><%= gettext("create item group") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_item_group_path(@conn, :create, @event.id)) %>

<h2><%= gettext("actions") %></h2>

<ul>
  <li><%= "back" |> gettext |> link(to: Routes.admin_item_group_path(@conn, :index, @event.id)) %></li>
</ul>
