<h1><%= @item_group.name %></h1>

<h2><%= gettext("actions") %></h2>

<ul>
  <li>
    <.link navigate={Routes.admin_item_group_path(@conn, :edit, @item_group)}>
      <%= gettext("edit") %>
    </.link>
  </li>
  <li>
    <.link navigate={Routes.admin_item_group_path(@conn, :index, @item_group.event_id)}>
      <%= gettext("back") %>
    </.link>
  </li>
  <li>
    <.link navigate={Routes.admin_item_path(@conn, :index, @item_group.id)}>
      <%= gettext("items") %>
    </.link>
  </li>
</ul>
