<h1>
  <%= gettext("edit %{event}", event: @event.name) %>
</h1>

<.event_form {assigns} action={~p"/admin/events/#{@event}"} />

<h2><%= gettext("actions") %></h2>

<ul>
  <li>
    <.link navigate={~p"/admin/events"}>
      <%= gettext("back") %>
    </.link>
  </li>
</ul>
