<h1>Edit Location</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_location_path(@conn, :update, @location)) %>

<span><%= link "Back", to: Routes.admin_location_path(@conn, :index, @location.event.id) %></span>
