<h1>New Location</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_location_path(@conn, :create, @event.id)) %>

<span><%= link "Back", to: Routes.admin_location_path(@conn, :index, @event.id) %></span>
