<.pagetitle backlink={~p"/admin/events/#{@location.event.id}/locations"}>
  {gettext("edit %{location}", location: @location.name)}
</.pagetitle>

<.location_form {assigns} action={~p"/admin/locations/#{@location}"} />
