<h1>Show Location</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @location.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_location_path(@conn, :edit, @location) %></span>
<span><%= link "Back", to: Routes.admin_location_path(@conn, :index, @location.event.id) %></span>
