<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-itunes-app" content="app-id=1637143661" />
    <title>
      <%= case assigns[:event] do
        nil -> "Athena"
        %{name: name} -> name
      end %>
    </title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/8775096c60.js" crossorigin="anonymous">
    </script>
    <%= csrf_meta_tag() %>
    <script async type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </head>
  <body class={if Map.has_key?(assigns, :navigation), do: "has_nav", else: ""}>
    <%= if Map.has_key?(assigns, :navigation) do %>
      <AthenaWeb.Admin.Navigation.navigation {@navigation} conn={@conn} />
    <% end %>

    <%= @inner_content %>
  </body>
</html>
